#side-nav {
    background-color: #1a1a1a;
    padding-bottom: 30px;
    padding-top: 30px;
    max-width: 18%;
    flex: 18%;
    width: 100%;
    height: 100vh;
    position: fixed;
}

.side-nav__logo {
    text-align: center;
    color: #FFF;
    margin-bottom: 30px;
}

.side-nav__list {
    border-top: 1px solid rgb(133, 133, 133);
}

.side-nav__link {
    width: 100%;
    padding: 15px;
    padding-left: 30px;
    display: inline-block;
    border-bottom: 1px solid rgb(133, 133, 133);
    color: #FFF;
}

.side-nav__link:hover {
    background-color: #2a2a2a;
    color: #FFF;
}

.side-nav__link.active {
    background-color: #2a2a2a;
}

.side-nav__link i {
    margin-right: 30px;
    color: #FFF;
}
