* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,ol {
  list-style: none;
}

/*Common*/
.container {
    max-width: 1280px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}
